#REDQUEEN_JWT_DISABLED=true
REDQUEEN_JWT_KEYSET_URL=
REDQUEEN_JWT_AUDIENCE=
REDQUEEN_JWT_ISSUER=
REDQUEEN_DATABASE=
REDQUEEN_DB_USER=
REDQUEEN_DB_PASS=
REDQUEEN_XBEE_DOOR_IDENTIFIER=
# Cloudflare Tunnel Token
TUNNEL_TOKEN=
